
<ul class="breadcrumb">
    <li><a href="#0">Link</a></li>
    <li><a href="#0">Link</a></li>
    <li><a href="#0">Link</a></li>
    <li><a href="#0">Page</a></li>
</ul>

<!-- End Component -->

<ul class="breadcrumb">
    <li><a class="is--disabled" href="#0">Disabled</a></li>
    <li><a class="is--disabled" href="#0">Disabled</a></li>
    <li><a class="is--disabled" href="#0">Disabled</a></li>
    <li><a href="#0">Page</a></li>
</ul>

<!-- End Variants -->